@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

h1,
h2,
h3 {
    font-family: "lato", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "raleway", sans-serif;
    margin: auto;
    width: 1160px;
    background-color: #e3e3e3;
}

#profile {
    border: solid 4px #ffffff;
    border-radius: 50%;
    flex: none;
    margin-top: 20px;
    width: 175px;
    height: 175px;
}

header div:first-of-type {
    display: flex;
    flex-direction: column;
    margin-left: 300px;
    margin-right: 200px;
    align-items: center;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
    margin: auto 10px 0px;
    height: 20%;
    background-color: #17abb3;
}

#logo-1 {
    margin-right: 80px;
    margin-left: 20px;
}

figcaption {
    height: 40px;
    padding-bottom: 10px;
}

h1,
h2 {
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}