@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

h1,
h2,
h3 {
    font-family: "lato", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body main section aside p {
    font-family: "raleway", sans-serif;
    color: #333333;
    font-weight: 100;
    font-size: x-large;
}

body {
    font-family: "raleway", sans-serif;
    margin: auto;
    width: 1160px;
    background-color: #ffffff;
    color: #333333;
}

header div figcaption a {
    text-decoration: none;
    color: #ffffff;
}

header div {
    height: 90px;
    color: #ffffff;
}

#profile {
    border: solid 4px #ffffff;
    border-radius: 50%;
    margin-top: 50px;
    flex: none;
    width: 175px;
    height: 175px;
}

#profile:hover {
    cursor:zoom-in;
}

header div:first-of-type {
    display: flex;
    flex-direction: column;
    margin-left: 300px;
    margin-right: 200px;
    align-items: center;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
    margin: auto;
    height: 20%;
    background-color: #17abb3;
}

#logo-1 {
    margin-right: 80px;
    margin-left: 20px;
}

figcaption {
    height: 40px;
    padding-bottom: 10px;
}

h1,
h2 {
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

body main section aside {
    background-color: #f5f5f5;
    height: 1140px;
    width: 400px;
}

body main section aside div:nth-of-type(2) ul {
    list-style-type: none;
}

body main section aside div:nth-of-type(2) ul li {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}

body main section aside div:nth-of-type(2) ul li p {
    font-weight: lighter;
}

body main section aside div:nth-of-type(3) ul li {
    list-style-type: square;
    margin-left: 20px;
}

body main section aside div:nth-of-type(4) ul li {
    list-style-type: square;
    margin-left: 20px;
}

body main section aside div:nth-of-type(3) ul li::marker {
    color: #17abb3;
    font-size: larger;
}

body main section aside div:nth-of-type(4) ul li::marker {
    color: #17abb3;
    font-size: larger;
}

body main section aside div:nth-of-type(2) ul {
    display: flex;
    flex-direction: column;
}

body main section aside div:nth-of-type(2) ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 35px;
}

body main section aside img {
    width: 6%;
    height: 6%;
}

body main section aside div:first-of-type ul li {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 10px;
}

body main section aside div:first-of-type ul {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    list-style-type: none;
}

body main section aside div:first-of-type ul li i {
    color: #17abb3;
    padding-top: 10px;
    padding-bottom: 10px;
}


body main section aside h2 {
    border-bottom: #e3e3e3 solid 2px;
    width: 85%;
    padding-top: 25px;
    padding-bottom: 10px;
    margin: auto;
    color: #17abb3;
}

body main {
    display: flex;
    flex-direction: row;
}

body main section article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-left: 35px;
    width: 725px;
}

body main section article div ul li {
    list-style-type: none;
    padding: 20px;
}

body main section article h2 {
    padding-bottom: 10px;
    border-bottom: #e3e3e3 solid 2px;
    width: 85%;
    color: #17abb3;
}

body main section article:first-of-type {
    flex: none;
}

body main section article:first-of-type p {
    text-indent: 50px;
    text-align: justify;
}

body main article div:first-of-type ul li {
    font-weight: bold;
}

span {
    font-weight: lighter;
    font-size: small;
    font-style: italic;
}

body main article div:last-of-type ul li {
    color: #17abb3;
}

body footer {
    background-color: #17abb3;
    height: 100px;
}

body footer div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    color: #ffffff;
    font-size: x-large;
    padding-top: 20px;
}

body footer p {
    color: #ffffff;
    font-style: italic;
    font-size: small;
    display: flex;
    flex-direction: row;
    justify-content: center;
}